<nav id="header" class="fixed w-full z-30 top-0 text-white">

	<div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">
			
		<div class="pl-4 flex items-center">
			<a class="toggleColour leading-none align-text-bottom text-white no-underline hover:no-underline font-bold text-2xl lg:text-4xl"  href="#"> 
				<svg class="home-icon h-8 align-baseline fill-current inline" version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1280.000000 1206.000000">
				<g transform="translate(0.000000,1206.000000) scale(0.100000,-0.100000)" stroke="none">
				<path d="M5828 11600 c-282 -250 -1418 -1256 -2523 -2235 -1106 -978 -2165
				-1917 -2355 -2085 -190 -168 -460 -407 -600 -530 -140 -124 -276 -245 -302
				-270 l-48 -45 330 -370 c181 -203 336 -369 343 -369 8 1 603 521 1323 1156
				3778 3332 4388 3868 4395 3866 4 -2 470 -413 1036 -914 565 -501 1842 -1631
				2836 -2512 994 -881 1812 -1602 1817 -1602 5 0 12 5 15 10 5 8 11 7 21 -1 19
				-15 -10 -45 339 351 153 173 293 331 312 351 l34 36 -838 739 c-461 407 -1544
				1363 -2408 2124 -863 762 -1919 1693 -2347 2070 l-776 685 -45 0 -45 0 -514
				-455z"/>
				<path d="M5707 9301 c-364 -322 -1370 -1213 -2235 -1979 l-1572 -1393 2 -2872
				3 -2872 22 -41 c12 -23 41 -58 64 -77 83 -72 -24 -67 1561 -67 l1428 0 2 1273
				c3 1266 3 1272 24 1317 26 58 76 108 134 134 45 21 52 21 1224 24 1304 3 1248
				5 1322 -60 52 -46 81 -97 93 -163 8 -40 11 -454 11 -1292 l0 -1233 1484 2
				1485 3 30 29 c17 16 45 63 63 105 l33 76 2 2860 2 2860 -2240 1975 c-1270
				1120 -2249 1976 -2260 1976 -13 1 -247 -200 -682 -585z"/>
				</g>
				</svg> REDOC
			</a>
		</div>

		<div class="block lg:hidden pr-4">
			<button id="nav-toggle" class="flex items-center p-1 text-orange-800 hover:text-gray-900">
				<svg class="fill-current h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
			</button>
		</div>

		<div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden <!--lg:block--> mt-2 lg:mt-0 bg-white lg:bg-transparent text-black p-4 lg:p-0 z-20" id="nav-content">
			<ul class="list-reset lg:flex justify-end flex-1 items-center">
				<li class="mr-3">
					<a class="inline-block py-2 px-4 text-black font-bold no-underline" href="#">Home</a>
				</li>
				<li class="mr-3">
					<a class="inline-block text-black no-underline hover:text-gray-800 hover:text-underline py-2 px-4" href="#learnmore">About</a>
				</li>
				<li class="mr-3">
					<a class="inline-block text-black no-underline hover:text-gray-800 hover:text-underline py-2 px-4" href="mailto:petrosapotsos@gmail.com?subject=[REDOC] Inquiry">Contact Us</a>
				</li>
			</ul>
			<button id="navAction" class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full mt-4 lg:mt-0 py-4 px-8 shadow opacity-75">
				<a href="mailto:petrosapotsos@gmail.com?subject=[REDOC] Join Request&body=I would like to join your housing startup">
				Join Us</a>
			</button>
		</div>
	</div>
	
	<hr class="border-b border-gray-100 opacity-25 my-0 py-0" />
	</nav>
